@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-white text-gray-900;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply select-none;
    overscroll-behavior-y: contain;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
}
